<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.gdu.bowling.mapper.BowlingScoreMapper">
  <insert id="insertBowling" parameterType="com.gdu.bowling.vo.BowlingScore">
        INSERT INTO bowling_score(
           	player_name,
            player_score,
            player_date
        ) VALUES
            #{playerName},
            #{playerScore},
            now()
        )
    </insert>
</mapper>  
